@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("../public/finalbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer base {
  html {
    @apply scroll-smooth m-0 p-0;
  }
  body {
    @apply bg-white text-black h-[100vh] w-full mobile:overflow-y-auto nav:overflow-y-auto pc:overflow-y-auto;
  }
}

@layer components {
  .whitesearchicon {
    /* @apply bg-[url('../public/image.png')] bg-no-repeat bg-scroll */
    background: url("../public/image.png") no-repeat scroll 4.5px 4.5px;
  }
}